###
# Domain settings
###

DOMAIN=example.com
LETSENCRYPT_EMAIL=admin@example.com

###
# Network
###

INTERNAL_SUBNET=172.20.0.0/16

IP_NGINX=172.20.0.2
IP_3XUI=172.20.0.10
IP_TELEMT=172.20.0.20
IP_MATRIX=172.20.0.30
IP_ELEMENT=172.20.0.31

###
# Ports
###

# 3X-UI
XUI_PORT=2053

# Telemt
TELEMT_PORT=8443

# Matrix
MATRIX_PORT=8008

# Element
ELEMENT_PORT=80

###
# Telemt settings
###

# Generate a key with: openssl rand -hex 16
TELEMT_SECRET=changeThisSecretToRandomString32chars
TELEMT_DOMAIN=${DOMAIN}
TELEMT_PORT=8443
# Generate ad_tag at https://t.me/mtproxybot
TELEMT_AD_TAG=0123456789abcdef0123456789abcdef

###
# 3X-UI settings
###

XUI_USERNAME=admin # change it
XUI_PASSWORD=admin # CHANGE IT!!!
XUI_PATH=/xui # Guess what? Change it!

###
# Matrix settings
###

MATRIX_REGISTRATION_SECRET=generateRandomSecretForMatrix
MATRIX_DB_PASSWORD=secureMatrixDbPassword

###
# System
###

TZ=Europe/Moscow