###
# Domain settings
###

DOMAIN=example.com
LETSENCRYPT_EMAIL=admin@example.com

###
# Network
###

INTERNAL_SUBNET=172.20.0.0/16

IP_NGINX=172.20.0.2
IP_3XUI=172.20.0.10
IP_TELEMT=172.20.0.20

###
# Ports
###

# 3X-UI
XUI_PORT=2053

# Telemt
TELEMT_PORT=8443

###
# Telemt settings
###

TELEMT_SECRET=changeThisSecretToRandomString32chars 
TELEMT_DOMAIN=${DOMAIN}

###
# 3X-UI settings
###

XUI_USERNAME=admin
XUI_PASSWORD=admin #CHANGE IT!!!
XUI_PANEL_DOMAIN=${DOMAIN}

# I want my TZ as well...
TZ=Europe/Moscow
