# Environment
.env

# SSL certificates
nginx/ssl/*
certbot/conf/*
certbot/www/*

# Generated configs
nginx/stream.conf.d/*.conf
telemt/config.toml

# Data & databases
3x-ui/db/*
matrix/data/*
*.db
*.sqlite
nginx/nginx.conf
telemt/telemt.toml
matrix/homeserver.yaml
element/config.json
nginx/nginx-certbot.conf
nginx/nginx.conf.bak

# Logs
*.log

# Docker
docker-compose.override.yml

# OS junk
.DS_Store
Thumbs.db
.vscode/
.idea/

# Backup files
*.backup
*.bak
*.old